In [12]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
# import xgboost as xgb
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report, confusion_matrix
import pickle


import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\YHLB2266\Données
[nltk_data]     d'applications\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\YHLB2266\Données
[nltk_data]     d'applications\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
 # Load data and set labels
data_positive = pd.read_csv('data/positive.csv', header=None)
column_labels = ['doc']
data_positive.columns = column_labels
data_positive['label'] = 1


# Display 5 random samples
data_positive.sample(5)

                                                     doc  label
34453   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
37760   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
15304   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
15243   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
28007   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1

In [14]:
data_negative1 = pd.read_csv('data/negative-1.csv')
data_negative1.columns = column_labels
data_negative1['label'] = 0

data_negative1.sample(5)

                                                    doc  label
302    NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
2043   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
1564   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
340    NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
2023   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0

In [15]:
data_negative2 = pd.read_csv('data/negative-2.csv')
data_negative2.columns = column_labels
data_negative2['label'] = 0

data_negative3 = pd.read_csv('data/negative-3.csv')
data_negative3.columns = column_labels
data_negative3['label'] = 0
 

data_negative5 = pd.read_csv('data/negative-5.csv')
data_negative5.columns = column_labels
data_negative5['label'] = 0


data_negative6 = pd.read_csv('data/negative-6.csv')
data_negative6.columns = column_labels
data_negative6['label'] = 0

data_negative7 = pd.read_csv('data/negative-7.csv')
data_negative7.columns = column_labels
data_negative7['label'] = 0

data_negative8 = pd.read_csv('data/negative-8.csv')
data_negative8.columns = column_labels
data_negative8['label'] = 0

data_negative9 = pd.read_csv('data/negative-9.csv')
data_negative9.columns = column_labels
data_negative9['label'] = 0

data_negative9.sample(5)

                                                    doc  label
1710   The finicky guinea negotiates formamide.The d...      0
242    The hungry synonym buzes medium.The dispensab...      0
2951   The mammoth saucer fences jug.The fair bevera...      0
4255   The aquatic designation protects eyebrows.The...      0
2452   The flaky wilderness creates medium.The knott...      0

In [16]:
# Concatenate complaining and non-complaining data
data = pd.concat([data_positive, data_negative1, data_negative2, data_negative3, data_negative5, data_negative6, data_negative7, data_negative8, data_negative9], axis=0).reset_index(drop=True)

In [17]:
# Display 5 random samples
data.sample(5)

                                                     doc  label
66137  PAR ORDONNANCE N° 88-092 DU 07 JUILLET 1998 ; ...      0
61468   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
7003    NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
66194  ET 193 ; VU, TEL QUE MODIFIE ET COMPLETE A CE ...      0
63698   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0

In [18]:
data = data.sample(frac=1).reset_index(drop=True)

In [19]:
data.sample(5)

                                                     doc  label
48838   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
46871  NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN D...      0
59220   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      0
59995   NOUS SOUSSIGNES, MEMBRES DU JURY DE L’EXAMEN ...      1
8898   VU LA LOI-CADRE N° 14/004 DU 11 FEVRIRER 2014 ...      0

In [20]:
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC

In [21]:
df = pd.DataFrame(data)

# Tokenization and removing stop words and punctuation
stop_words = set(stopwords.words('french'))  # Assuming the documents are in French
punctuation = set(string.punctuation)

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, Conv1D, MaxPooling1D, Bidirectional, Flatten
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import np_utils
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from string import punctuation
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, Conv1D, MaxPooling1D, Bidirectional, Flatten
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import np_utils
from keras.utils import to_categorical

# Ensure you have the necessary NLTK datasets
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to C:\Users\YHLB2266\Données
[nltk_data]     d'applications\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\YHLB2266\Données
[nltk_data]     d'applications\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [23]:
#Process the Doc
def preprocess_text(text):
    # Tokenize
    tokens = word_tokenize(text)
    # Remove stop words and punctuation
    return ' '.join([word for word in tokens if word not in stop_words and word not in punctuation])

df['processed_doc'] = df['doc'].apply(preprocess_text)

In [24]:
# Vectorization using TF-IDF
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['processed_doc'])

In [25]:
# Tokenization
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(df['processed_doc'])
sequences = tokenizer.texts_to_sequences(df['processed_doc'])
word_index = tokenizer.word_index
print(f'Found {len(word_index)} unique tokens.')

Found 112250 unique tokens.

In [26]:
from transformers import BertTokenizer, BertForSequenceClassification, Trainer, TrainingArguments
from sklearn.model_selection import train_test_split
from torch.utils.data import DataLoader, Dataset
import pandas as pd
import torch

In [27]:
# Splitting the dataset
train_df, test_df = train_test_split(df, test_size=0.2)

train_df.reset_index(drop=True, inplace=True) 
train_df.reset_index(drop=True, inplace=True)


test_df.reset_index(drop=True, inplace=True) 
test_df.reset_index(drop=True, inplace=True)
# Tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# Dataset class
class TextDataset(Dataset):
    def __init__(self, dataframe, tokenizer):
        self.len = len(dataframe)
        self.data = dataframe
        self.tokenizer = tokenizer

    def __getitem__(self, index):
        text = self.data.doc[index]
        inputs = self.tokenizer(text, padding='max_length', truncation=True, max_length=512, return_tensors="pt")
        input_ids = inputs['input_ids'][0]
        attention_mask = inputs['attention_mask'][0]
        label = torch.tensor(self.data.label[index])

        return {
            'input_ids': input_ids,
            'attention_mask': attention_mask,
            'labels': label
        }

    def __len__(self):
        return self.len

# Creating instances of training and validation set
train_dataset = TextDataset(train_df, tokenizer)
valid_dataset = TextDataset(test_df, tokenizer)

In [ ]:
# Loading BERT model
model = BertForSequenceClassification.from_pretrained("bert-base-uncased", num_labels=2)

# Training arguments
training_args = TrainingArguments(
    output_dir='./results',
    num_train_epochs=1,
    per_device_train_batch_size=16,
    per_device_eval_batch_size=64,
    warmup_steps=500,
    weight_decay=0.01,
    logging_dir='./logs',
    logging_steps=10,
)

# Trainer
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=valid_dataset
)



# Train the model
trainer.train(resume_from_checkpoint=True)

# Save the model
model.save_pretrained("./bert_finetuned_diploma")

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.